body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}


.content {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    margin: 0 auto;
}


.screen {
    display: flex;
    border: solid red;
    flex-wrap: wrap;
    width: 500px;
    height:500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.control-panel {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pixel {
    background-color: white;
}

.pixel:hover {
    background-color: black;
}

.classic {
    background-color: black;
}

